<template name="eventsList">
  <div class="events-filter">
    <a href data-filter="day">day</a>
    <a href data-filter="week">week</a>
    <a href data-filter="month">month</a>
  </div>
  <div class="events-list {{currentFilter}}">
    {{#each list}}
      <div class="events-day-row">
        <span class="daynum">{{day}}</span>
        {{#each items}}
          {{>eventsRow .}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</template>

<template name="eventsRow">
  <div class="events-row {{genClassName}}">
    <!--<div class="col-xs-4">{{ownerName}}</div>
    <div class="col-xs-4">{{title}}</div>
    <div class="col-xs-4">({{date datetime}})</div>-->
    <div class="col-xs-12">{{formatTime datetime}} {{title}} ({{formatDuration duration}})</div>
  </div>
</template>

<template name="eventsForm">
  <form class="events-add-form">
    <label> Title: <input type="text" name="title" /></label>
    <label> Date/Time: <input type="text" readonly class="datetime" name="datetime"></label>
    <label>
      Duration:
      <input type="text" readonly id="duration" name="duration">
      <span class="duration-btn btn btn-default"><i class="icon-th"></i>d</span>
    </label>
    <input type="submit" />
  </form>
</template>
