<head>
  <title>dsmeetroom</title>
  <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    {{! TODO styles, we can use accounts-ui-unstyled }}
    {{>loginButtons}}

    {{#if currentUser}}
      {{>eventsForm}}
    {{/if}}
    {{>eventsList}}
  </div>
</body>

